<!DOCTYPE html>
{% extends 'DonorPage.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-lg-12 grid-margin stretch-card" >
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">My Donation History</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Donor Name</th>
                            <th>Donor Age</th>

                            <th>Disease</th>
                              <th>Blood Group</th>
                               <th>Unit</th>




                          </tr>
                        </thead>
                        <tbody>
                                  {% for d in data %}
        <tr>
            <td>{{d.donorname}}</td>



            <td>{{d.donorage}}</td>
            <td>{{d.disease}}</td>
            <td>{{d.bloodgroup}}</td>
            <td>{{d.unit}}</td>





        </tr>
        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</body>
</html>
{% endblock %}