<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">DONOR DETAILS</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Photo</th>

                            <th>Blood Group</th>
                              <th>Age</th>
                               <th>Address</th>
                               <th>Contact</th>
                              <th>Action</th>
                              <th>Action</th>

                          </tr>
                        </thead>
                        <tbody>
                                  {% for d in data %}
        <tr>
            <td>{{d.username}}</td>


            <td>
                <img src="{{d.photo.url}}" width="100px" height="100px">
            </td>
            <td>{{d.bloodgroup}}</td>
            <td>{{d.age}}</td>
            <td>{{d.address}}</td>
            <td>{{d.contact}}</td>
            <td>
                <a href="{% url 'editdonorfn' did=d.id %}">



                 <button type="submit" class="btn btn-primary mr-2">edit</button>



            </td>
            <td>

                 <button type="submit" class="btn btn-primary mr-2">delete</button>
            </td>


        </tr>
        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
</body>
</html>
{% endblock %}